<h1>Produse</h1>

<div class="page">
  <aside class="sidebar">
    <app-category-filter></app-category-filter>
  </aside>

  <section class="content">
    <div *ngIf="loading">Se încarcă…</div>
    <div *ngIf="error" style="color:crimson">{{ error }}</div>

    <ul class="product-list" *ngIf="!loading && !error">
      <li class="product-item" *ngFor="let p of products">
        <div class="product-info">
          <span class="product-name">{{ p.name }}</span>
          <span class="product-price"> — {{ p.price | number:'1.2-2' }} RON</span>
        </div>

        <div class="product-actions">
          <img src="assets/images/plane3.jpg" />
          <a [routerLink]="['/products', p.id]" class="link-button">Detalii</a>
          <button (click)="add(p)">Adaugă în coș</button>
        </div>
      </li>
    </ul>
  </section>
</div>
