<!-- features/checkout/checkout-page/checkout-page.component.html -->
<h2>Checkout</h2>

<div class="checkout-form">
  ID adresa livrare:
  <input type="number" [(ngModel)]="deliveryAddressId">

  ID adresa utilizator:
  <input type="number" [(ngModel)]="userAddressId">

  <button (click)="placeOrder()">Trimite comanda</button>
</div>

<div class="checkout-summary">
  <div class="checkout-summary">
    <h3>Rezumat coș:</h3>

    <div *ngIf="cart.lines.length; else emptyCart" class="checkout-lines">

      <div class="checkout-line" *ngFor="let item of cart.lines">

        <!-- stânga: nume + detalii -->
        <div class="line-info">
          <span class="product-name">{{ item.product.name }}</span>
          <span class="product-details">
          — x {{ item.quantity }} buc.
          ( {{ item.product.price || 0 | number:'1.2-2' }} lei / buc.)
        </span>
        </div>

        <!-- dreapta: butoane - + Șterge pe un singur rând -->
        <div class="line-actions">
          <button type="button" (click)="dec(item)">−</button>
          <span class="qty">{{ item.quantity }}</span>
          <button type="button" (click)="inc(item)">+</button>

          <button
            type="button"
            class="delete-btn"
            (click)="remove(item)">
            Șterge
          </button>
        </div>

      </div>

    </div>

    <ng-template #emptyCart>
      <p>Coșul este gol.</p>
    </ng-template>

    <p class="checkout-total">
      <strong>Total:</strong>
      {{ cart.total | number:'1.0-0' }} lei
    </p>
  </div>


